* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 50px;
  font-size: 2.5rem;
  text-align: center;
}

#output {
  width: 500px;
  padding: 50px 30px;
  background: #fff;
  color: #000;
  font-size: 1.8rem;
  text-align: center;
}

span {
  color: #c73939;
}
